@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Satisfy);
/* app css stylesheet */

/**,
*:after,
*::before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*/
html, body { 
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: #fff;
  background: #333;
  overflow: hidden;
  padding: 5px;
  height: 100%;
}

/* Views  */

.view {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
  border: solid 3px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.pt-perspective {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
}


/* Vertical offsets */

.voffset-lg-1 {
  margin-top: 5%;
}

.voffset-lg-2 {
  margin-top: 10%;
}

.voffset-lg-3 {
  margin-top: 15%;
}

.voffset-lg-4 {
  margin-top: 20%;
}

.voffset-lg-5 {
  margin-top: 30%;
}


