<div>
	<div class="container">
		<div class="row">
			<p>This is the partial for view 1.</p>
		</div>

		<div class="row">
			<div class="col-lg-2">
				<!-- <button class="btn btn-primary" ng-click="changePage()">CHANGE</button> -->
			</div>
		</div>

		<div class="row voffset-lg-3">
			<div class="col-lg-4 col-lg-offset-4">
				<div id="owl-example" class="owl-carousel">
			    	<div ng-repeat="number in [1,2,3,4,5,6]"> asd{{number}}</div>
				</div>
			</div>
		</div>

		<!-- <button ng-click="leapClick()" type="button" class="btn leap-interactive">I can be clicked</button> -->
		<div ng-click="leapClick()" class=" leap-interactive">I can be clicked</bid>

	</div>
</div>
