<!doctype html>
<html xmlns:ng="http://angularjs.org/" ng-app="myApp">
<head>

	<meta charset="utf-8">
	<!-- To ensure proper rendering and touch zooming on mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

	<title>my angular app</title>

	<!-- NORMALIZE CSS -->
	<link rel="stylesheet" href="css/normalize.css">

	<!-- LEAPSTRAP CSS -->
	<link rel="stylesheet" href="css/Leapstrap/leapstrap.css" />
	<link rel="stylesheet" href="css/Leapstrap/leapstrap-theme.css" />

	<!-- BOOTSTRAP CSS -->
	<link rel="stylesheet" href="css/Bootstrap/bootstrap.css" />
	<link rel="stylesheet" href="css/Bootstrap/bootstrap-theme.css" />

	<!-- PAGE TRANSITION CSS -->
	<!-- <link rel="stylesheet" href="css/PageTransitions/animations.css" /> -->
	<link rel="stylesheet" href="css/PageTransitions/page.cube.transition.css" />

	<!-- SIDEBAR CSS-->
	<link rel="stylesheet" href="css/SidebarTransitions/sidebar.scale.rotate.css" />
	<link rel="stylesheet" href="css/SidebarTransitions/icons.css" />


	<!-- OWL CAROUSEL CSS -->
	<link rel="stylesheet" href="css/OwlCarousel/owl.carousel.css" />
	<link rel="stylesheet" href="css/OwlCarousel/owl.theme.css" />

	<!-- MIAN CSS -->
	<link rel="stylesheet" href="css/app.css"/>
	<!-- <link rel="stylesheet" href="css/Animate/animate.css"/> -->

	<!-- JQUERY -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

	<!-- LEAP -->
	<script src="lib/leap.js"></script>
	<script src="lib/leap-manager.js"></script>

	<!-- OWL CAROUSEL -->
	<script src="lib/owl.carousel.js"></script>

	<!-- ANGULAR -->
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-route.js"></script>
	<script src="lib/angular/angular-animate.js"></script>

	<!-- CUSTOM MODULES -->
	<script src="js/services.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/filters.js"></script>

	<!-- SIDEBAR -->
	<script src="lib/modernizr.custom.js"></script>

	<!-- ISCROLL -->
	<script src="lib/iscroll.js"></script>

	<!-- MAIN ENTRY -->
	<script src="js/app.js"></script>

	<script type="text/javascript">
		Array.prototype.next = function() {
		    if (!((this.cursor + 1) in this)) return false;
		    return this[++this.cursor];
		};
		Array.prototype.prev = function() {
		    if (!((this.cursor - 1) in this)) return false;
		    return this[--this.cursor];
		};
		Array.prototype.current = function () {
			if (!(this.cursor in this)) return false;
			return this[this.cursor];
		}
		Array.prototype.cursor = 0;

	</script>



</head>

<body ng-controller="MainCtrl">

  	<div id="st-container" class="st-container st-effect-11">

	    <!-- Sidebar -->
	    <nav class="st-menu st-effect-11" id="menu-1" ng-mouseenter="openMenu1()" ng-mouseleave="closeMenu1()">
	    	<div class="st-menu-label" ng-click="toggleMenu()">
				<span class="icon icon-arrow-right-3"></span>
			</div>
	    	<div class="st-menu-inner">
				<h2 class="">MENU</h2>

				<ul>
					<li ng-repeat="item in menuItems">
						<a ng-class="item.class" ng-click="goToPage($index)" href="">{{item.name}}</a>
					</li>
					<li><a ng-click="closeMenu()" href="" class="icon icon-wallet leap-cursor-grabbing">Close Menu</a></li>
				</ul>
			</div>
	    </nav>

	    <!-- Pusher after sidebar -->
	    <div class="st-pusher">

            <!-- Main content -->
            <div class="pt-perspective prev-page">
              <div ng-view class="view pt-page-rotateCubeTopOut pt-page-rotateCubeTopIn pt-page-rotateCubeBottomOut pt-page-rotateCubeBottomIn"></div>
            </div>

            <div ng-click="closeMenu()" class="st-over-layer"></div>

	    </div>

  	</div>
  	<!-- <div class="leap-pointable-cursor leap-timer-cursor leap-cursor"></div> -->
</body>
</html>
